@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


html{
  font-family: Inter;
  font-size: 18pk;
}
    
   body {
        width: 45ren;
        margin:auto;
   }

   h1,h2,h3 {
    color: steelblue;
   }